*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

form
{
    height: 40%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background: #222; */
    padding: 1rem 3rem;
    box-shadow: black 0 0 30px;
    border-radius: 0.3em;
}

form #lblUsername
{
    font-size: max(5vmin, 2rem);
    color: #dddddd;
    font-weight: 500;
}

form #txtUsername
{
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    background: #222;
    box-shadow: #080808 0 0.2rem 1rem;
    color: #ddd;
    transition: background-color 0.2s;
}

form #txtUsername:focus
{
    background-color: #0026ff1e;
}

form #btnSubmit
{
    padding: 0.5rem 1.5rem;
    outline: none;
    border-radius: 100vw;
    background: transparent;
    border: 2px solid #0026ff5e;
    box-shadow: #1b1b1b 0 0 15px;
    color: #dddddd;
    font-size: 1rem;
}

form #btnSubmit:hover
{
    background: #0026ff9f;
}
