*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body
{
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background-color: hsl(217, 32%, 8%);
}

body
{
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas: 
        "chat-info chat-box"
        "chat-info attachment-preview"
        "chat-info message-input";
}

h3
{
    font-weight: 500;
}



.chat-info
{
    grid-area: chat-info;
    min-width: 200px;
    height: 100%;
    background-color: hsl(219, 30%, 10%);
    z-index: 2;
}

.info-header
{
    background-color: hsl(219, 30%, 6%);
    height: 60px;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    color: #eee;
    font-size: 1.1rem;
}

.info-container
{
    height: calc(100%-60px);
    width: 100%;
    padding: 1rem;
}

.info-container .users-title
{
    color: #ddd;
    font-size: 1.05rem;
    margin-bottom: 10px;
}

.info-container .users-list
{
    margin-left: 15px;
    list-style: none;
    color: #bbb;
    font-size: 1rem;
    text-overflow: ellipsis;
}

.chat-box
{
    grid-area: chat-box;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
}

.chat-box .message-container
{
    display: flex;
}

.chat-box .message
{
    background: hsl(219, 30%, 12%);
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    min-width: 10em;
    width: max-content;
    max-width: 70%;
    gap: 0.4rem;
}

.chat-box .message-container.self .message
{
    background: hsl(219, 60%, 15%);
}

.chat-box .system-message
{   
    background: hsl(219, 40%, 12%);
    padding: 0.5rem 1.2rem;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    margin: 1rem auto;
    width: max-content;
    border-radius: 100vw;
}

.chat-box .message .username
{
    color: #fff;
    font-weight: 500;
    font-size: 0.85rem;
}

.chat-box .message .content
{
    color: #ccc;
    overflow-wrap: break-word;
    font-weight: 200;
    font-size: 0.9rem;
}

.chat-box .message .content *
{
    padding: revert;
    margin: revert;
}

.chat-box .message .content :first-child
{
    margin-top: 0;
}

.chat-box .message .content :last-child
{
    margin-bottom: 0;
}

.chat-box .message .content strong
{
    font-weight: 500;
}

.chat-box .message .timestamp
{
    display: block;
    color: #777;
    font-size: 0.7rem;
    text-align: right;
}

.chat-box .message img
{
    display: block;
    max-width: 30vw;
    border-radius: inherit;
}

.attachment-preview
{
    grid-area: attachment-preview;
    width: 100%;
    max-height: 5rem;
    background-color: hsl(219, 30%, 12%);
    z-index: 2;
    display: flex;
    overflow-x: auto;
    height: 0;
}

.attachment-preview.shown
{
    padding: 0.5em;
    height: auto;
}

.attachment-preview .btn-clear
{
    background: none;
    color: #ddd;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.attachment-preview .item
{
    height: 100%;
}

.message-input
{
    grid-area: message-input;
    height: max-content;
    width: 100%;
    background-color: hsl(219, 30%, 6%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    z-index: 1;
    box-shadow: rgba(2, 0, 148, 0.25) 0 0 1rem;
}

.message-input textarea
{
    width: 100%;
    height: 40px;
    max-height: 30vh;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0.7em 1em;
    font-size: 0.9rem;
    background: hsl(219, 30%, 12%);
    color: #ebebeb;
    font-weight: 300;
    resize: none;
}

.message-input textarea.expanded
{
    border-radius: 1rem;
}

.message-input .file-input
{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px; 
}

.message-input .custom-file-input
{
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: 100%;
    display: grid;
    place-content: center;
}

.message-input .custom-file-input span
{
    transform: rotate(45deg);
    color: #eee;
}

.message-input .file-input:focus-visible + .custom-file-input,
.message-input .file-input + .custom-file-input:hover
{
    background: hsl(219, 10%, 20%);
}

.message-input .btn-send
{
    cursor: pointer;
    display: none;
    height: fit-content;
}

.message-input .btn-send img
{
    height: 2rem;
    display: block;
}

.big-image-container
{
    position: absolute;
    inset: 0;
    z-index: 99999;
    display: none;
    background: #000b;
}

.big-image-container .big-image
{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


@media screen and (max-width: 780px)
{
    body
    {
        grid-template-columns: 100%;
        grid-template-rows: max-content 1fr max-content max-content;
        grid-template-areas: 
            "chat-info"
            "chat-box"
            "attachment-preview"
            "message-input";
    }

    .join-form
    {
        box-shadow: none;
        width: 100%;
        gap: 2rem;
    }

    .join-form input
    {
        max-width: 300px;
    }

    .chat-info
    {
        max-width: initial;
        width: 100%;
        height: max-content;
    }

    .info-header
    {
        display: none;
    }

    .info-container
    {
        background-color: hsl(219, 30%, 6%);
    }

    .info-container .users-title
    {
        font-size: 1rem;
    }

    .info-container .users-list
    {
        margin: 0;
    }

    .info-container .users-list li
    {
        display: inline-block;
        vertical-align: top;
    }
    
    .info-container .users-list li + li::before
    {
        content: ', ';
    }

    /* TODO: Fix size changing after message overflows */
    .chat-box .message-container.self
    {
        justify-content: flex-end;
    }
    
    .message-input .btn-send
    {
        display: block;
    }
}
