*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body
{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: hsl(219, 30%, 8%);
}

body
{
    display: flex;
}

h3
{
    font-weight: 500;
}

.chat-info
{
    flex-basis: 15%;
    min-width: 200px;
    height: 100%;
    background-color: hsl(219, 30%, 10%);
    z-index: 2;
}

.info-header
{
    background-color: hsl(219, 30%, 6%);
    height: 60px;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    color: #eee;
    font-size: 1.1rem;
}

.info-container
{
    height: calc(100%-60px);
    width: 100%;
    padding: 1rem;
}

.info-container .users-title
{
    color: #ddd;
    font-size: 1.05rem;
    margin-bottom: 10px;
}

.info-container .users-list
{
    margin-left: 15px;
    list-style: none;
    color: #bbb;
    font-size: 1rem;
    text-overflow: ellipsis;
}

.chat
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-box
{
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
}

.chat-box .msg-container
{
    display: flex;
}

.chat-box .msg
{
    background: #222;
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    min-width: 10em;
    width: fit-content;
    max-width: 70%;
    gap: 0.4rem;
}

.chat-box .system-msg
{   
    background: #3d3d3d;
    padding: 0.5rem 1.2rem;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    margin: 1rem auto;
    width: fit-content;
    border-radius: 100vw;
}

.chat-box .msg .username
{
    color: #eee;
    font-weight: 500;
    background: #222;
    font-size: 0.85rem;
}

.chat-box .msg .content
{
    color: #ccc;
    background: #222;
    overflow-wrap: break-word;
    font-weight: 200;
    font-size: 0.9rem;
}

.chat-box .msg .content *
{
    padding: revert;
    margin: revert;
}

.chat-box .msg .content :first-child
{
    margin-top: 0;
}

.chat-box .msg .content :last-child
{
    margin-bottom: 0;
}

.chat-box .msg .content strong
{
    font-weight: 500;
}

.chat-box .msg .timestamp
{
    display: block;
    color: #777;
    font-size: 0.7rem;
    text-align: right;
}

.chat-box .msg img
{
    display: block;
    max-width: 100%;
    border-radius: inherit;
}

.attachment-preview
{
    width: 100%;
    max-height: 15%;
    background-color: #333;
    z-index: 2;
    display: flex;
    overflow-x: auto;
}

.attachment-preview .item
{
    height: 100%;
}

.msg-input
{
    height: fit-content;
    width: 100%;
    background-color: hsl(219, 30%, 6%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    z-index: 1;
    box-shadow: #0007 0 0 1rem;
}

.msg-input textarea
{
    width: 100%;
    height: 40px;
    max-height: 30vh;
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0.7em 1em;
    font-size: 0.9rem;
    background: #333;
    color: #ebebeb;
    font-weight: 300;
    resize: none;
}

.msg-input .file-input
{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px; 
}

.msg-input .custom-file-input
{
    position: relative;
    width: 30px;
    height: 25px;
    border: 1px solid #4797ff;
    cursor: pointer;
    background-position: 0 0;
}

.image-icon
{
    position: absolute;
    fill: white;
    width: 90% !important;
    height: 100% !important;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.msg-input .file-input:focus + .custom-file-input,
.msg-input .file-input + .custom-file-input:hover
{
    background: #4797ff;
}

.msg-input .custom-file-input:active
{
    background: #0f77ff;
}

.msg-input .btn-send
{
    cursor: pointer;
    display: none;
}

.msg-input .btn-send span
{
    color: #ddd;
    padding: 0.5rem;
    padding-left: 0.54rem;
    padding-right: 0.46rem;
    border-radius: 100vw;
    background: #0f0e80;
}

.big-image-container
{
    position: absolute;
    inset: 0;
    z-index: 99999;
    display: none;
    background: #000b;
}

.big-image-container .big-image
{
    position: absolute;
    max-width: 95%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


@media screen and (max-width: 780px)
{
    body
    {
        flex-direction: column-reverse;
        min-height: 200%;
        justify-content: start;
    }

    .chat-info
    {
        max-width: initial;
        width: 100%;
    }

    .chat-box .msg-container.self
    {
        justify-content: flex-end;
    }
    
    .msg-input .btn-send
    {
        display: block;
    }
}
